{% extends 'base.html.twig' %}

{% block title %}New Piscine{% endblock %}

{% block body %}
    <h1>Create new Piscine</h1>

    {{ include('piscines/_form.html.twig') }}

    <a href="{{ path('app_piscines_index') }}" class="btn btn-secondary">list</a>
{% endblock %}
