{% extends 'base.html.twig' %}

{% block title %}New Excursions{% endblock %}

{% block body %}
    <h1>Create new Excursions</h1>

    {{ include('excursion/_form.html.twig') }}
    
    <a href="{{ path('app_excursion_index') }}" class="btn btn-secondary mt-2" >list</a>
{% endblock %}
