{% extends 'base.html.twig' %}

{% block title %}Edit ReservaRestaurants{% endblock %}

{% block body %}
    <h1>Edit ReservaRestaurants</h1>

    {{ include('reserva_restaurants/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reserva_restaurants_index') }}" class="btn btn-secondary">back to list</a>

    {{ include('reserva_restaurants/_delete_form.html.twig') }}
{% endblock %}
