{% extends 'base.html.twig' %}

{% block title %}New Hotel{% endblock %}

{% block body %}
    <h1>Create new Hotel</h1>

    {{ include('crud_hotel/_form.html.twig') }}

    <a href="{{ path('app_crud_hotel_index') }}" class="btn btn-secondary">list</a>
{% endblock %}
